<div style="font-size: 2rem;">
  <%= paginate loans, param_name: :active_loans_page %>
</div>

<div class="loan-details-container">
  <h2>Active Loans</h2>
  <table class="loan-details-table">
    <thead>
      <tr>
        <th>SNo.</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Interest %</th>
        <th>Total loan amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if !loans.present?%>
        <tr>
          <td colspan=6 style='text-align: center'>No records found</td>
        </tr>
      <% else %>
        <% loans.each_with_index do |loan, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= number_with_precision(loan.amount, precision: 2) %></td>
            <td><%= loan.start_date.strftime("%B %d, %Y %H:%M:%S") rescue nil %></td>
            <td><%= "#{loan.interest_rate_in_percentage} %" %></td>
            <td><%= number_with_precision(loan.total_amount, precision: 2) %></td>
            <td>
              <%= button_to 'Repay', repay_loan_path(loan), method: :put, class: 'repay-button' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
